$user-name-color: #808080;

code {
  word-wrap: break-word;

  font-weight: normal;
}

h1,
h2 {
  margin: 1rem 0 .5rem;
}

h6 {
  margin-top: 0;

  line-height: 1;
}

li {
  list-style-position: inside;
}

.links {
  font-size: .85rem;
}

.posted-by {
  margin: 0 0 5px 5px;

  color: $user-name-color;

  font-size: 14px;
  font-style: italic;
}
