$article-body-color: #808080;
$article-border-color: #e0e0e0;

.container {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.article {
  padding: 0 0 20px;

  border-bottom: solid 1px $article-border-color;

  &:last-child {
    border-bottom: 0;
  }

  h2 {
    display: inline-block;
  }

  i {
    margin-left: 5px;

    color: $article-body-color;

    font-size: 24px;
  }

  p {
    margin-left: 20px;
  }
}
